<a href="https://colab.research.google.com/github/Rodrigo-Antonio-Silva/PythonProjects/blob/main/Lab003_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Lab3 - German Credit Scoring.csv', sep=';')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Status of existing checking account                       1000 non-null   object
 1   Duration in months                                        1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose                                                   1000 non-null   object
 4   Credit amount                                             1000 non-null   int64
 5   Savings account/bonds                                     1000 non-null   object
 6   Present employment since                                  1000 non-null   object
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   Personal status and sex                                   1000 non-null   object
 9   Other debtors / guarantors                                1000 non-null   object
 10  Present residence since                                   1000 non-null   int64
 11  Property                                                  1000 non-null   object
 12  Age in years                                              1000 non-null   int64
 13  Other installment plans                                   1000 non-null   object
 14  Housing                                                   1000 non-null   object
 15  Number of existing credits at this bank                   1000 non-null   int64
 16  Job                                                       1000 non-null   object
 17  Number of people being liable to provide maintenance for  1000 non-null   int64
 18  Telephone                                                 1000 non-null   object
 19  Foreign worker                                            1000 non-null   object
 20  Score                                                     1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [ ]:
df.head()

  Status of existing checking account  Duration in months  ... Foreign worker Score
0                            Negative                   6  ...            Yes  good
1                             0 - 200                  48  ...            Yes   bad
2                 No checking account                  12  ...            Yes  good
3                            Negative                  42  ...            Yes  good
4                            Negative                  24  ...            Yes   bad

[5 rows x 21 columns]

In [ ]:
checking_account = {'No checking account': 0, 'Negative': 1, '0 - 200': 2, 'Over 200': 3}
df['Status of existing checking account'] = df['Status of existing checking account'].map(checking_account)

saving_account = {'less than 100': 0, 'unknown / no savings account': 1, '100 to 500': 2, '500 to 1000': 3, 'more than 1000': 4}
df['Savings account/bonds'] = df['Savings account/bonds'].map(saving_account)

present_employ = {'1 to 4 years': 0, 'more than 7 years': 1, '4 to 7 years': 2, 'less than 1 year': 3, 'Unemployed': 4}
df['Present employment since'] = df['Present employment since'].map(present_employ)

guarantors = {'none': 0, 'guarantor': 1, 'co-Applicant': 2}
df['Other debtors / guarantors'] = df['Other debtors / guarantors'].map(guarantors)

others_plans = {'none': 0, 'bank': 1, 'stores': 2}
df['Other installment plans'] = df['Other installment plans'].map(others_plans)

house = {'own': 0, 'rent': 1, 'for free': 2}
df['Housing'] = df['Housing'].map(house)

tel = {'none': 0, 'yes, registered under the customers name': 1}
df['Telephone'] = df['Telephone'].map(tel)

foreing = {'Yes': 0, 'No': 1}
df['Foreign worker'] = df['Foreign worker'].map(foreing)

scor = {'good': 0, 'bad': 1}
df['Score'] = df['Score'].map(scor)

In [ ]:
new = df['Personal status and sex'].str.split('(', n=1, expand=True)

In [ ]:
new.head()

         0                            1
0    male                       single)
1  female   divorced/separated/married)
2    male                       single)
3    male                       single)
4    male                       single)

In [ ]:
new.rename(columns= {0: 'Sex', 1: 'Personal_status'}, inplace=True)

In [ ]:
new['Personal_status'].replace('\)', '', regex=True, inplace=True)

In [ ]:
new.head()

       Sex             Personal_status
0    male                       single
1  female   divorced/separated/married
2    male                       single
3    male                       single
4    male                       single

In [ ]:
df1 = pd.concat([df, new], axis=1)

In [ ]:
df1.head()

   Status of existing checking account  ...             Personal_status
0                                    1  ...                      single
1                                    2  ...  divorced/separated/married
2                                    0  ...                      single
3                                    1  ...                      single
4                                    1  ...                      single

[5 rows x 23 columns]

In [ ]:
df1.drop('Personal status and sex', axis=1, inplace=True)

In [ ]:
df1.head()

   Status of existing checking account  ...             Personal_status
0                                    1  ...                      single
1                                    2  ...  divorced/separated/married
2                                    0  ...                      single
3                                    1  ...                      single
4                                    1  ...                      single

[5 rows x 22 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Status of existing checking account                       1000 non-null   int64
 1   Duration in months                                        1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose                                                   1000 non-null   object
 4   Credit amount                                             1000 non-null   int64
 5   Savings account/bonds                                     1000 non-null   int64
 6   Present employment since                                  1000 non-null   int64
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   Other debtors / guarantors                                1000 non-null   int64
 9   Present residence since                                   1000 non-null   int64
 10  Property                                                  1000 non-null   object
 11  Age in years                                              1000 non-null   int64
 12  Other installment plans                                   1000 non-null   int64
 13  Housing                                                   1000 non-null   int64
 14  Number of existing credits at this bank                   1000 non-null   int64
 15  Job                                                       1000 non-null   object
 16  Number of people being liable to provide maintenance for  1000 non-null   int64
 17  Telephone                                                 1000 non-null   int64
 18  Foreign worker                                            1000 non-null   int64
 19  Score                                                     1000 non-null   int64
 20  Sex                                                       1000 non-null   object
 21  Personal_status                                           1000 non-null   object
dtypes: int64(16), object(6)
memory usage: 172.0+ KB

In [ ]:
P_status = {'single': 0, 'divorced/separated/married': 1, 'married/widowed': 2, 'divorced/separated': 3}
df1['Personal_status'] = df1['Personal_status'].map(P_status)

In [ ]:
df1['Savings account/bonds'] = df1['Savings account/bonds'].astype('category')

In [ ]:
df1['Present employment since'] = df1['Present employment since'].astype('category')

In [ ]:
df2 = pd.get_dummies(df1)

In [ ]:
df2.head()

   Status of existing checking account  ...  Sex_male
0                                    1  ...          1
1                                    2  ...          0
2                                    0  ...          1
3                                    1  ...          1
4                                    1  ...          1

[5 rows x 50 columns]

In [ ]:
X = df2.drop('Score', axis=1)

In [ ]:
y = df2['Score']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=28)

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=28)

In [ ]:
resultados = knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, resultados))

              precision    recall  f1-score   support

           0       0.71      0.99      0.82       209
           1       0.62      0.05      0.10        91

    accuracy                           0.70       300
   macro avg       0.67      0.52      0.46       300
weighted avg       0.68      0.70      0.60       300

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
scores = cross_val_score(knn, X, y, cv=10, scoring='accuracy')

In [ ]:
scores

array([0.73, 0.7 , 0.71, 0.72, 0.68, 0.71, 0.66, 0.72, 0.7 , 0.72])

In [ ]:
scores.mean()

0.705

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
k_range = range(1, 31)

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
param_grid = dict(n_neighbors=k_range)

In [ ]:
grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy')

In [ ]:
grid.fit(X, y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': range(1, 31)}, scoring='accuracy')

In [ ]:
grid.best_estimator_

KNeighborsClassifier(n_neighbors=28)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
pip_std = Pipeline([('scaler', StandardScaler()),
                    ('knn', KNeighborsClassifier())
                    ])

pip_minmax = Pipeline([('minmax', MinMaxScaler()),
                       ('knn', KNeighborsClassifier())
                       ])

In [ ]:
pip_minmax.fit(X_train, y_train)

Pipeline(steps=[('minmax', MinMaxScaler()), ('knn', KNeighborsClassifier())])

In [ ]:
result_minmax = pip_minmax.predict(X_test)

In [ ]:
print(classification_report(y_test, result_minmax))

              precision    recall  f1-score   support

           0       0.75      0.89      0.81       209
           1       0.55      0.31      0.39        91

    accuracy                           0.71       300
   macro avg       0.65      0.60      0.60       300
weighted avg       0.69      0.71      0.69       300

In [ ]:
pip_std.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('knn', KNeighborsClassifier())])

In [ ]:
result_std = pip_std.predict(X_test)

In [ ]:
print(classification_report(y_test, result_std))

              precision    recall  f1-score   support

           0       0.75      0.85      0.80       209
           1       0.51      0.35      0.42        91

    accuracy                           0.70       300
   macro avg       0.63      0.60      0.61       300
weighted avg       0.68      0.70      0.68       300